/codex-example-extensions
/safe-extension-samples
/malicious-extensions-db/log
/malicious-extensions-db/diagnostic
/malicious-extensions-db/db-javascript/default/cache
/malicious-extensions-db/db-javascript/default/cache
